// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

table {
  margin-top: $spacing-unit;
}

/*th:first-child, td:first-child { padding-left: 0; }*/

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	margin-bottom: $spacing-unit;
	max-width: 100%;
	vertical-align: middle;
}

figure > img { margin: 0 auto; }
figcaption { text-align: center; }

/* Custom CSS based on Minima */

.aligncenter { display: block; margin: 0 auto; }

//.site-title { font-size: 32px; margin-bottom: 0; }

.post-list > li > h2 { margin-bottom: 1px; }
//.post-link { line-height: 1.3em; }
.post-image { margin-bottom: $spacing-unit / 2; }
.post .rss-subscribe { font-size: small; }

.footer-col-1,
.footer-col-2,
.footer-col-3 { width: calc(100% - (#{$spacing-unit} / 2)); }

footer h2 > a,
footer h2 > a:visited { color: #424242; }
footer input[type="search"] { width: 100%; font-size: 1em; }

@media screen and (min-width: 481px) {
  footer input[type="search"] { width: 50%; }
}

.footer-col-1 {
  width: calc(15% - (#{$spacing-unit} / 2))
}

.footer-col-2 {
  width: calc(85% - (#{$spacing-unit} / 2))
}

.profiles a:hover {
    text-decoration: none
}

.profiles a:hover .username {
    text-decoration: underline
}

.profiles li + li {
  padding-top: 5px
}

.profiles {
  list-style: none;
  margin-left: 0
}

// 320, 375, 414
@media screen and (min-width: 801px) {
}

@media screen and (min-width: 601px) {
//  .profiles li { display: inline; }
  .footer-col-1 { width: calc(15% - (#{$spacing-unit} / 2)); }
  .footer-col-2 { width: calc(85% - (#{$spacing-unit} / 2)); }
}

@media screen and (min-width: 416px) {
//  .profiles li { display: inline; }
  .footer-col-1 { width: calc(15% - (#{$spacing-unit} / 2)); }
  .footer-col-2 { width: calc(85% - (#{$spacing-unit} / 2)); }
}
/*
@media screen and (max-width: 415px) {
  .profiles li { display: inline; margin-right: $spacing-unit; }
  .footer-col-1 { width: calc(100% - (#{$spacing-unit} / 2)); }
  .footer-col-2 { width: calc(100% - (#{$spacing-unit} / 2)); }
}
*/